.LoadingBar__first{
	background-color: #4285f4;
}
.LoadingBar__second{
	background-color: #ea4335;
}
.LoadingBar__third{
	background-color: #fbbc05;
}
.LoadingBar__forth{
	background-color: #34a853;
}