<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>LoadingBar CSS Component</title>
		<link href="css/LoadingBar.css" rel="stylesheet">
        <!-- <link href="css/LoadingBar--color-scheme--solid-black.css" rel="stylesheet"> -->
        <!-- <link href="css/LoadingBar--color-scheme--solid-white.css" rel="stylesheet"> -->
        <!-- <link href="css/LoadingBar--color-scheme--solid-red.css" rel="stylesheet"> -->
        <!-- <link href="css/LoadingBar--color-scheme--solid-green.css" rel="stylesheet"> -->
        <!-- <link href="css/LoadingBar--color-scheme--solid-blue.css" rel="stylesheet"> -->
        <!-- <link href="css/LoadingBar--color-scheme--google.css" rel="stylesheet"> -->
	</head>
<body>
  
  <div class="LoadingBar">
    <div class="LoadingBar__item LoadingBar__first"></div>
    <div class="LoadingBar__item LoadingBar__second"></div>
    <div class="LoadingBar__item LoadingBar__third"></div>
    <div class="LoadingBar__item LoadingBar__forth"></div>
  </div>

</body>
</html>